header{
    width: 100vh;
    padding-top: 7rem;
    overflow: hidden;
   /* margin-left: 25%; */

}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
    justify-content: center;

}
/* ************CTA***************/
.cta{
    margin-top:2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
/* ***********Header Social**************/
.header_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}
.header_social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
/* **************IMG ME*****************/
.me{
    background:linear-gradient(var(--color-primary),transparent);
    width: 22rem;
   height: 25rem;
    /* position: absolute;  */
   position: relative;
   left: calc(50% - 10rem);
   margin-top: 4rem;
  
   border-radius: 12rem 12rem 0 0;
   overflow: hidden;
   padding: 5rem 1.5rem 1.5rem 1.5rem ;

}
/* ***************scroll*************/
.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
/* ************MEDIA QUERIES(MEDIUM)***********/
@media screen and (max-width:1024px) {
    header{
        height: 80vh;
    }
}
/* ************MEDIA QUERIES(SMALL)***********/
@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
   .header_social,
   .scroll_down{
    display: none;
   } 
}